SECRET_KEY = "secret"
DB_CONNECTION_STRING = "host=localhost user=user password=password dbname=db sslmode=disable"
TESTS_DB_CONNECTION_STRING = "host=localhost user=user password=password dbname=tests_db sslmode=disable"
LOG_FORMAT=json
LOG_LEVEL=debug 
REDIS_CLIENT_HOST="recdis client host"
REDIS_CLIENT_PASSWORD=""
CORS_ALLOWED_HOST="frontend local host"
UPLOADS_DIR="./uploadsDir"